---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';

let allPosts = await getCollection('posts');
allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<BaseLayout>
  
  {[
    { start: 0, end: 1, cols: '1', mdCols: '1', lgCols: '1', special: true },
    { start: 1, end: 3, cols: '1', mdCols: '2', lgCols: '2' },
    // { start: 3, end: allPosts.length, cols: '1', mdCols: '2', lgCols: '3'}
  ].map(({ start, end, cols, mdCols, lgCols, imgWidth, imgHeight, }) => (
    <div class={`grid grid-cols-${cols} md:grid-cols-${mdCols} lg:grid-cols-${lgCols} gap-4 ${start === 1 ? 'mt-4 mb-4' : ''}`}>
      
      { allPosts.slice(start, end).map((post, index) => (
          <PostCard 
            post={post}
            eagerLoad={start === 0 && index === 0}
            isSpecialCard={start === 0 && index === 0}
          />
      ))}
    </div>
  ))}

<div data-dial-init class="fixed right-6 bottom-6 group">
    <div id="speed-dial-menu-click" class="flex flex-col items-center hidden mb-4 space-y-2">
        <a href="https://api.whatsapp.com/message/BTD6XIGPZ65SL1" data-tooltip-target="tooltip-share" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
            <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
          </svg>
            <span class="sr-only">Whatsapp</span>
          </a>
        <div id="tooltip-share" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Whatsapp
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        
      
    </div>
    <button type="button" data-dial-toggle="speed-dial-menu-click" data-dial-trigger="click" aria-controls="speed-dial-menu-click" aria-expanded="false" class="flex items-center justify-center text-white bg-black rounded-full w-16 h-16 hover:bg-blue-800 dark:bg-black dark:hover:bg-black focus:ring-4 focus:ring-black focus:outline-none dark:focus:ring-black">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
        <path d="M12 11l0 .01" />
        <path d="M8 11l0 .01" />
        <path d="M16 11l0 .01" />
      </svg>
        <span class="sr-only">Open actions menu</span>
    </button>
</div>

  
</BaseLayout>