---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

let allPosts = await getCollection('posts');
allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<BaseLayout>

    <div class="text-center">
        <img
          src="./yovan.webp"
          class="mx-auto mb-4 w-32 rounded-lg"
          alt="YovaEnovore" />
        <h5 class="mb-2 text-xl font-medium leading-tight">Yovan R. Enovore</h5>
        <p class="text-neutral-500 dark:text-neutral-400">Developer full stack</p>
      </div>
 
</BaseLayout>