---
import Search from '@/components/Search'
---
<header class='p-4 prose-a:no-underline'>
  <div class='flex justify-between items-center p-2'>
    <div class='flex'>
      <a href='/' class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600'>Inicio</a>
      <a href='/category/cat1' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Tecnología</a>
      <a href='/category/cat2' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Blog</a>
      <a href='/category/cat3' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Portafolio</a>
      <a href='/category/cat4' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Proyectos</a>
    </div>
    
    <Search />
  </div>
</header>