---
import Search from '@/components/Search'
---



<header class='p-4 prose-a:no-underline'>

  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
    <button
      class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <!-- Collapsible navigation container -->
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent1"
      data-te-collapse-item>
      <!-- Logo -->
      <a
        class="mb-4 ml-2 mr-5 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
        href="/">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-versions" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M10 5m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" />
          <path d="M7 7l0 10" />
          <path d="M4 8l0 8" />
        </svg>
      </a>
      <ul
      class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
      data-te-navbar-nav-ref>
            <li class="sin-puntos">
        <a href='/porta' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>
          Yo
        </a>
      </li>
      <li class="sin-puntos">
        <a href='/category/proyectos' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>
          Proyectos
         </a>
      </li> 
      <li class="sin-puntos">
        <a href='/category/blog' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>
          Blog
         </a>
      </li>
    

      
    </ul>
  
    
    </div>

    <!-- Right elements -->
    <div class="relative flex items-center">
      <!-- Cart Icon -->
      <a
        class="mr-4 text-neutral-600 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
        href="#">
        <span class="[&>svg]:w-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-5 w-5">
            <path
              d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
          </svg>
        </span>
      </a>

 

      <!-- Second dropdown container -->
      <div
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end">
        <!-- Second dropdown trigger -->
        <Search />
      
      </div>
    </div>
  </div>

</header>


<style>
  .sin-puntos {
    list-style-type: none;
  }
</style>

<style>
  /* Agrega estilos para el botón de activación */
#menu-toggle {
  display: none; /* Oculta el botón en tamaños de pantalla normales */
  cursor: pointer;
}

/* Agrega estilos para el menú en sí */
#menu-links {
  display: flex; /* Muestra los enlaces como una lista horizontal */
}

/* Estilos para cambiar la visibilidad del menú cuando el botón se muestra */
@media (max-width: 768px) {
  #menu-toggle {
    display: block; /* Muestra el botón en tamaños de pantalla más pequeños */
  }

  #menu-links {
    display: none; /* Oculta el menú en tamaños de pantalla más pequeños */
  }
}

</style>

